@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .aspect-regular,
  .aspect-regular-short {
    position: relative;
  }
  .aspect-regular {
    padding-bottom: 155%;
  }
  .aspect-regular-short {
    padding-bottom: 145%;
  }
  .aspect-regular > *,
  .aspect-regular-short > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

*:focus {
  outline: 0;
}

img {
  color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  @apply bg-background text-on-background;
}

main {
  min-height: calc(100vh - 64px - 110px);
}

@import "@reach/menu-button/styles.css";

[data-reach-popover] {
  z-index: 21;
}

[data-reach-menu-list] {
  background: theme("colors.surface-variant") !important;
  padding: 0 !important;
  margin-top: 4px;
  border: none !important;
  @apply overflow-hidden rounded-lg shadow-md;
}

[data-reach-menu-item] {
  padding: 12px 24px !important;
  color: theme("colors.on-surface") !important;
}

[data-reach-menu-item][data-selected] {
  background: rgba(0, 105, 110, var(--tw-bg-opacity)) !important;
  @apply bg-opacity-50;
}

@import "@reach/dialog/styles.css";

[data-reach-dialog-overlay] {
  z-index: 21;
}

[data-reach-dialog-content] {
  border-radius: 28px;
  background: theme("colors.surface-1") !important;
  color: theme("colors.on-surface");
}

@media (max-width: 768px) {
  [data-reach-dialog-content] {
    width: 90vw !important;
  }
}

@import "@reach/tabs/styles.css";

[data-reach-tab-list] {
  background: transparent !important;
  @apply justify-center space-x-2 border-b-1 border-surface-variant;
}

[data-reach-tab] {
  background-color: transparent;
  @apply h-12 rounded-full;
  font-weight: 500 !important;
  margin: 4px !important;
  padding: 0 24px !important;
}

[data-reach-tab][data-selected] {
  border-bottom-color: transparent !important;
  background-color: theme("colors.secondary-container");
  color: theme("colors.on-primary-container");
}
